<div style="margin-top: 50px">
    <h3>History</h3>

    <ul class="list-group">
        @foreach (string item in ResultsHistory)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
</div>